/*Typography.................................*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: ;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}
p{
    line-height: 150%;
    margin-bottom: 2em;
}
.fix{
    overflow: hidden;
}



.container_full{
    width: 100%;
    background: url("../img/blood_doner.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container{
    width: 960px;
    display: block;
    margin: 0 auto;
}
/*End Typography.................................*/

/*Navigation part Start .........................*/
.navbar-light .navbar-nav .nav-link{
transition: all linear .4s;
}
.navbar-light .navbar-nav .nav-link:hover{
  background:#1B2F5B;
  color: #ffffff;
}
.dropdown-item{
  background:#1B2F5B;
  color: #ffffff;

}

/*Navigation part End*/


/*Donor Heading Part.................................*/

.donor_wrapper .title{
    text-align: center;
    color: darkcyan;
    font-weight: bold;
    margin-top: 60px;
}


/*form part..............................*/
.donor_profile{
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}
span{
    color: darkcyan;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    display: inline-block;
}
form input[type="text"] ,input[type="date"],input[type="email"]{
    margin-bottom: 20px;
    padding: 7px 5px;
    width: 30%;
    border-radius: 5px;
    border: none;
    background-color: aqua;
    color: black;
    font-weight: bold;
}
select{
    margin-bottom: 20px;
    padding: 7px 5px;
    width: 31%;
    border-radius: 5px;
    border: none;
    background-color: aqua;
    color: black;
    font-weight: bold;
}

/* Appoinment_type .................*/
.appoinment_type{
    border: 2px solid gray;
    margin-top: 20px;
    border-radius: 5px;
    display: block;
    overflow: hidden;
    width: 99%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.left{
    width: 50%;
    float: left;
}
.right{
    width: 49.70%;
    float: left;
    border-left: 2px solid gray;
}
.appoinment_info{
    margin-left: 30px;
    padding-bottom: 10px;
}
.appoinment_info input[type="text"] ,input[type="date"],input[type="email"]{
    width: 60%;
}
.appoinment_info select{
    width: 62%;
}
.appoinment_info .gender{
    margin-bottom: 20px;
    color: black;
}
.header .same{
    color: darkcyan;
    font-weight: bold;
    margin: 20px 0px;
    text-align: center;
    margin-bottom: 40px;
}

.same2{
    margin-right: 5px;
    padding: 10px 25px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    background: #00FFFF;
    transition: all .5s ease;
}
.same2:hover{
    background: #4CAF50;
}




























